Bonjour {{ nom }} 
<br />
Votre revendication a bien été prise en contact.
<br /><br />
<h3><u>Récapilatif:</u></h3>
<u>Contenu: </u> {{ comment }}
<br /><br />
Le groupe Ornoir-Mag (Kountac) vous remerci pour votre avis.
<br />
Cordialement.