{% extends "::base.html.twig" %}

{% block body %}

    <div class="circleSep">
        <div class="circleLeft"></div>
        <div class="circleRight"></div>
        <div class="sep"></div>
    </div>


    <!-- Begin Sub Page Banner -->
    <div id="bannerWide" class="subBanner"> <img src="{{ asset('img/sub-banner.png') }}" alt="" class="bannerBg">
        <div class="bannerCon">
            <h2><span class="blue">A Propos</span> de Nous</h2>
            <p><a href="{{ path('blog_ornoir_homepage') }}">Accueil</a> » <a href="{{ path('blog_ornoir_about') }}">A Propos</a></p>
        </div>

    </div>
    <!-- End Sub Page Banner -->
    <div class="sep"></div>

    <!-- Begin Main Container -->
    <div id="mainContainer">
        <div id="mainContent"> 

            <!-- Page Content -->
            <section class="columns clearfix">
                <h2 class="title"><span class="blue">About</span> Us </h2>
                <p>Ut fringilla. Aliquam feugiat pede vel nisl. Fusce rhoncus. Praesent sed mi a dui tempor vulputate. Phasellus consectetuer nulla id metus. Nam magna odio, venenatis non, venenatis quis, iaculis eget, mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nunc ante nibh, porttitor quis, egestas ut, malesuada auctor, tellus. Integer scelerisque urna in sapien. Curabitur dignissim. Nullam libero libero, vestibulum ut, consectetuer ac, luctus id, sapien. Proin quis ligula. Proin est nisi, rhoncus eu, dignissim nec, feugiat quis, dui. Phasellus ac tortor. Donec interdum pede sit amet urna. Aliquam lacinia tristique leo. Sed at arcu ac arcu pharetra commodo. Proin sit amet leo in nibh congue tincidunt. Vivamus et dolor eget odio eleifend ultricies. Nunc vel odio. Pellentesque nec arcu vel velit laoreet rhoncus. Aenean fermentum pellentesque magna. Donec pellentesque, neque non faucibus suscipit, massa est faucibus sapien, eget sodales dolor lacus ac pede. Cras vitae ante sed odio porta sagittis. Duis consectetuer augue a magna. </p>
                <p>Nunc ipsum. Sed est pede, ultrices id, tempor suscipit, ornare et, nisl. Aliquam in sapien. Etiam eu ipsum eu urna tincidunt dignissim. Maecenas quis mauris. Nam nunc. In quam tortor, aliquet ac, dictum sed, ultricies in, libero. Praesent lobortis, lectus at ullamcorper lacinia, diam nibh euismod metus, sed semper turpis nisi et sapien. Aliquam fermentum nunc nec felis. In sit amet quam in mi mattis ullamcorper. Suspendisse vel neque. Nullam eu ante. Sed tempor dolor. Duis ut neque eu nulla consequat semper. Donec malesuada. </p>
                <br>
                <div class="sep"></div>
                <h2>Staffs</h2>

                <!-- Staff Details -->        
                <div class="staff clearfix">
                    <div class="staffImg">
                        <div class="frame_round"><img src="img/temp/staff1.png" alt=""></div>
                        <a href="#" class="twitter">Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="linkedIn">LinkedIN</a> </div>
                    <div class="content">
                        <h3>John Deo</h3>
                        <p class="desc">Company CEO</p>
                        <p>Aenean euismod. Pellentesque et metus non magna viverra fermentum. Sed tincidunt. Morbi condimentum tincidunt massa. </p>
                        <p>Phasellus pellentesque, elit vel ultricies congue, risus massa dignissim enim, nec congue augue urna et purus. Aenean sodales diam a lorem. Fusce tristique. Nunc elit. </p>
                        <p>Aenean lacinia urna eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nibh magna, scelerisque et, placerat quis, aliquet in, metus. Fusce facilisis lectus a lectus. </p>
                        <p>Vivamus ullamcorper lorem sit amet lorem. Sed nec sapien. Integer placerat tellus a mauris. Pellentesque in erat. 
                            Pellentesque non pede eu orci feugiat dapibus. Morbi pulvinar sagittis sapien. Integer nisl enim, faucibus et, pellentesque quis, vehicula ac, velit. Vivamus pede dolor, lobortis eu, porttitor nec, vestibulum non, nunc. </p>
                        <p>Praesent in dolor eget odio dapibus pretium. Vestibulum eu tellus. Fusce a massa. Cras faucibus. 
                            Pellentesque mauris sapien, ultrices id, adipiscing vel, condimentum ut, justo. Duis ut nisl. Integer ac massa ut quam dapibus posuere. Duis nisi tellus, laoreet non.</p>
                    </div>
                </div>

                <div class="staff clearfix">
                    <div class="staffImg">
                        <div class="frame_round"><img src="img/temp/staff2.png" alt=""></div>
                        <a href="#" class="twitter">Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="linkedIn">LinkedIN</a> </div>
                    <div class="content">
                        <h3>John Deo</h3>
                        <p class="desc">Company CEO</p>
                        <p>Aenean euismod. Pellentesque et metus non magna viverra fermentum. Sed tincidunt. Morbi condimentum tincidunt massa. </p>
                        <p>Phasellus pellentesque, elit vel ultricies congue, risus massa dignissim enim, nec congue augue urna et purus. Aenean sodales diam a lorem. Fusce tristique. Nunc elit. </p>
                        <p>Aenean lacinia urna eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nibh magna, scelerisque et, placerat quis, aliquet in, metus. Fusce facilisis lectus a lectus. </p>
                        <p>Vivamus ullamcorper lorem sit amet lorem. Sed nec sapien. Integer placerat tellus a mauris. Pellentesque in erat. 
                            Pellentesque non pede eu orci feugiat dapibus. Morbi pulvinar sagittis sapien. Integer nisl enim, faucibus et, pellentesque quis, vehicula ac, velit. Vivamus pede dolor, lobortis eu, porttitor nec, vestibulum non, nunc. </p>
                        <p>Praesent in dolor eget odio dapibus pretium. Vestibulum eu tellus. Fusce a massa. Cras faucibus. 
                            Pellentesque mauris sapien, ultrices id, adipiscing vel, condimentum ut, justo. Duis ut nisl. Integer ac massa ut quam dapibus posuere. Duis nisi tellus, laoreet non.</p>
                    </div>
                </div>

                <div class="staff clearfix">
                    <div class="staffImg">
                        <div class="frame_round"><img src="img/temp/staff3.png" alt=""></div>
                        <a href="#" class="twitter">Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="#" class="linkedIn">LinkedIN</a> </div>
                    <div class="content noBorder">
                        <h3>John Deo</h3>
                        <p class="desc">Company CEO</p>
                        <p>Aenean euismod. Pellentesque et metus non magna viverra fermentum. Sed tincidunt. Morbi condimentum tincidunt massa. </p>
                        <p>Phasellus pellentesque, elit vel ultricies congue, risus massa dignissim enim, nec congue augue urna et purus. Aenean sodales diam a lorem. Fusce tristique. Nunc elit. </p>
                        <p>Aenean lacinia urna eget orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nibh magna, scelerisque et, placerat quis, aliquet in, metus. Fusce facilisis lectus a lectus. </p>
                        <p>Vivamus ullamcorper lorem sit amet lorem. Sed nec sapien. Integer placerat tellus a mauris. Pellentesque in erat. 
                            Pellentesque non pede eu orci feugiat dapibus. Morbi pulvinar sagittis sapien. Integer nisl enim, faucibus et, pellentesque quis, vehicula ac, velit. Vivamus pede dolor, lobortis eu, porttitor nec, vestibulum non, nunc. </p>
                        <p>Praesent in dolor eget odio dapibus pretium. Vestibulum eu tellus. Fusce a massa. Cras faucibus. 
                            Pellentesque mauris sapien, ultrices id, adipiscing vel, condimentum ut, justo. Duis ut nisl. Integer ac massa ut quam dapibus posuere. Duis nisi tellus, laoreet non.</p>
                    </div>
                </div>
            </section>

            <article class="call_out blue clearfix">
                <div class="content">
                    <h2>BESOIN <span class="blue">D'AIDE ?</span></h2>
                    <p>Besoin de nous contacter? cliquez sur le lien.</p>
                </div>
                <a href="{{ path('blog_ornoir_contact') }}" class="button_round">Contacter-nous</a> </article>

            <div class="sep"></div>

        </div>


    {% endblock %}