<form action="{{ path('BlogOrnoirBundle_recherche_service') }}" method="POST">
    {{ form_widget(form.recherche) }}
    {{ form_widget(form) }}
    <input name="submitSearch2" type="submit" class="searchBtn">
</form>
 