{% extends "::base.html.twig" %}

{% block body %}

    <div class="circleSep">
        <div class="circleLeft"></div>
        <div class="circleRight"></div>
        <div class="sep"></div>
    </div>


    <!-- Begin Sub Page Banner -->
    <div id="bannerWide" class="subBanner"> <img src="{{ asset('img/sub-banner.png') }}" alt="" class="bannerBg">
        <div class="bannerCon">
            <h2><span class="blue">À propos</span> de nous</h2>
            <p><a href="{{ path('blog_ornoir_homepage') }}">Accueil</a> » <a href="{{ path('blog_ornoir_about') }}">À Propos</a></p>
        </div>

    </div>
    <!-- End Sub Page Banner -->
    <div class="sep"></div>

    <!-- Begin Main Container -->
    <div id="mainContainer">
        <div id="mainContent">

            <!-- Page Content -->
            <section class="columns clearfix">
                <h2 class="title"><span class="blue">À Propos</span> Us </h2>
                <br>
                <div class="sep"></div>
                <h2>L'équipe</h2>

                <!-- Staff Details -->
                <div class="staff clearfix">
                    <div class="staffImg">
                        <div class="frame_round"><img src="img/portraits/Ornella_Djoukui.jpg" alt=""></div>
                        <a href="#" class="twitter">Twitter</a> <a href="#" class="facebook">Facebook</a> <a href="https://fr.linkedin.com/in/djoukui-ornella-vanessa-0705376a" class="linkedIn">LinkedIN</a> </div>
                    <div class="content">
                        <h3>Ornella Djoukui</h3>
                        <p class="desc">Fondatrice</p>
                    </div>
                </div>

            </section>

            <article class="call_out blue clearfix">
                <div class="content">
                    <h2>BESOIN <span class="blue">D'AIDE ?</span></h2>
                    <p>Besoin de nous contacter? Cliquez sur le lien.</p>
                </div>
                <a href="{{ path('blog_ornoir_contact') }}" class="button_round">Contactez-nous</a> </article>

            <div class="sep"></div>

        </div>


    {% endblock %}
